.cmp-player {
    width: 100%;
    background-color: get-color("darker-grey");
    position: fixed;
    bottom: 0;

    &--details {
        .details {
            &-title {
                color: get-color("white2");
                font-size: 28px;
                text-align: center;

                @media (max-width: 768px) {
                    font-size: 24px;
                }
            }

            &-artist {
                color: get-color("light-grey");
                font-size: 18px;
                text-align: center;

                @media (max-width: 768px) {
                    font-size: 16px;
                }
            }
        }
    }

    &--controls {
        display: flex;
        align-items: center;
        justify-content: center;

        .play-btn {
            display: flex;
            padding: 20px;
            border: none;
            outline: none;
            background-color: transparent;
            color: get-color("white2");
            font-size: 24px;
            cursor: pointer;
            width: 64px;
        }

        .skip-btn {
            background: none;
            border: none;
            outline: none;
            cursor: pointer;
            color: get-color("grey");
            font-size: 18px;
        }
    }

    .angle-btn {
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        color: get-color("grey");
        font-size: 18px;
    }
}

.cmp-player-mini {
    display: inline-flex;
    height: 10vh;
    transition: height ease 0.2s;

    @media(max-width:768px) {
        height: 6vh;
    }

    .cmp-player {
        &--details {
            display: flex;
            align-items: center;
            width: 75vw;

            .details {

                &-title {
                    font-size: 18px;
                    padding: 0 15px;

                    @media (max-width: 768px) {
                        font-size: 16px;
                    }
                }

                &-artist {
                    font-size: 16px;

                    @media (max-width: 768px) {
                        font-size: 14px;
                    }
                }
            }
        }

        &--controls {
            width: 20vw;
            justify-content: flex-end;
        }
    }
}

.cmp-player-full {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: height ease 0.3s;

    .cmp-player {
        &--details {
            .details {
                &-img {
                    position: relative;
                    width: fit-content;
                    margin: 0 auto;

                    img {
                        display: block;
                        margin: 50px auto;
                        width: 80vw;
                        max-width: 360px;
                    }
                }

                &-title {
                    margin-bottom: 10px;
                }

                &-artist {
                    margin-bottom: 20px;
                }
            }
        }

        &--controls {
            margin-bottom: 30px;

            .play-btn {
                margin: 0 30px;
            }
        }
    }

    .angle-btn {
        width: 60px;
        position: absolute;
        top: 20px;
        @media (max-width: 768px) {
            top: 15px;
        }

    }
}