
  .progress-bar {
    // --bar-bg: #ffe3d4;
    --bar-bg: #353236;
    --seek-before-color: #b738c3;
    --knobby: #3452a5;
    --selectedKnobby: #26c9c3;
    --seek-before-width: 0;
  
    appearance: none;
    background: var(--bar-bg);;
    border-radius: 10px;
    position: relative;
    height: 5px;
    outline: none;
  }
  
  /* progress bar - safari */
  .progress-bar::-webkit-slider-runnable-track {
    // background: var(--bar-bg);;
    border-radius: 10px;
    position: relative;
    // width: 100%;
    height: 5px;
    outline: none;
  }
  
  /* progress bar - firefox */
  .progress-bar::-moz-range-track {
    // background: var(--bar-bg);;
    border-radius: 10px;
    position: relative;
    // width: 100%;
    height: 5px;
    outline: none;
  }
  
  .progress-bar::-moz-focus-outer {
    border: 0;
  }
  
  /* progress bar - chrome and safari */
  .progress-bar::before {
    content: '';
    height: 5px;
    width: var(--seek-before-width);
    background-color: var(--seek-before-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
  }
  
  /* progress bar - firefox */
  .progress-bar::-moz-range-progress {
    background-color: var(--seek-before-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 5px;
  }
  
  /* knobby - chrome and safari */
  .progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: none;
    // background-color: var(--knobby);
    background-color: transparent;
    cursor: pointer;
    position: relative;
    margin: -2px 0 0 0;
    z-index: 3;
    box-sizing: border-box;
  }
  
  /* knobby while dragging - chrome and safari */
  // .progress-bar:active::-webkit-slider-thumb {
  //   transform: scale(1.2);
  //   background: var(--selectedKnobby);
  // }
  
  /* knobby - firefox */
  .progress-bar::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: transparent;
    background-color: var(--knobby);
    cursor: pointer;
    position: relative;
    z-index: 3;
    box-sizing: border-box;
  }
  
  /* knobby while dragging - firefox */
  // .progress-bar:active::-moz-range-thumb {
  //   transform: scale(1.2);
  //   background: var(--selectedKnobby);
  // }

  .cmp-player--progress-bar {
    
    .cmp-progress-bar{
      &-container {
        display: flex;
        justify-content: center;

      }

      &-timer {
        display: flex;
        justify-content: space-between;
        padding: 5px 10vw;
      }

      &-text {
        color: #fff;
        font-size: 12px;
      }

      &-bar {
        width: 80vw;
      }
    }

    &.cmp-progress-bar-hide {
      display: none;
    }
  }