.cmp-navbar {
    background-color: get-color("darker-grey");
    height: 8vh;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;

    @media(max-width:768px) {
        height: 7vh;
    }

    &-title {
        font-size: 32px;
        font-weight: font-weight('semi-bold');
        text-decoration: none;
        color: get-color("white2");

        @media (max-width: 768px) {
            font-size: 24px;
        }
    }
}