//colours
$color-palette : (
    "white"         : #fff,
    "white2"        : #eee,
    "grey"          : #888,
    "light-grey"    : #aaa,
    "dark-grey"     : #313131,
    "dark-grey2"     : #202020,
    "darker-grey"   : #161616
);

//font-family
$primary-font : "Fira Sans", sans-serif;

//font-weights
$font-weights : (
    "light"     : 300,
    "regular"   : 400,
    "medium"    : 500,
    "semi-bold" : 600,
    "bold"      : 700
);
