//colours
$dark-grey : #313131;
$grey : #888;
$light-grey : #aaa;
$white : #fff;
$white2 : #eee;

//font-family
$primary-font : "Fira Sans", sans-serif;

//font-weights
$regular-weight : 400;
$medium-weight : 500;
$semi-bold-weight : 600;
$bold-weight : 700;